* {
    margin: 0px;

}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fdf6f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.js-container {
    width: 500px;
    padding: 20px;
    margin-top: 40px;
    background-color: #fff8f0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffd6d6;
    padding: 15px 20px;
    border-radius: 10px;
    margin-bottom: 25px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    color: #fa6992;
}

.navBar button, .deleteButton{
    background-color: #fff0f5;
    border: 1px solid #ffadc6;
    padding: 8px 12px;
    margin-left: 10px;
    border-radius: 8px;
    color: #d14d72;
    cursor: pointer;
    transition: all 0.3s ease;
}

.navBar button:hover {
    background-color: #ffadc6;
    color: white;
}

input[type="text"] {
    padding: 10px;
    width: 70%;
    border: 1px solid #dcb4b4;
    border-radius: 8px;
    margin-right: 10px;
}

button {
    padding: 10px 14px;
    background-color: #d14d72;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: #a63a50;
}

.todoItem {
    background-color: #fff0f5;
    border: 1px solid #ffadc6;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
}

.todoItem button {
    background-color: #ff6f91;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 6px;
    font-size: 12px;
}

.todoItem button:hover {
    background-color: #d14d72;
}

.todoItem p {
   margin-bottom:20px;
   width:400px;
}

